{% extends "templates/base.html" %}
{% load staticfiles %}
{% spaceless %}
{% block css %}
    <link href="{% static 'css/dep.min.css' %}" rel="stylesheet" media="screen,print">
    <link href="{% static 'core/css/dep.min.css' %}" rel="stylesheet" media="screen,print">
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" media="screen,print">
    <link href="{% static 'core/css/app.min.css' %}" rel="stylesheet" media="screen,print">
{% endblock css %}
!!!
{% block ng-app %}core{% endblock %}
111
{% block js %}
    <script src="{% static 'js/dep.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'core/js/dep.min.js' %}"></script>
    <script src="{% static 'core/js/app.min.js' %}"></script>
    <script src="{% static 'core/js/templates.min.js' %}"></script>
{% endblock js %}
{% endspaceless %}
